<nav class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand text-white">User System</a>  
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>

  <div class="card m-5" style="width:18rem" *ngIf="details">
  <ul class="list-group">
      <li class="list-group-item">
          <strong>Username: </strong>{{details.userName}}
      </li>
      <li class="list-group-item">
        <strong>Fullname: </strong>{{details.fullName}}
    </li>
    <li class="list-group-item">
        <strong>Email: </strong>{{details.email}}
    </li>
  </ul>
</div>

<div class="form-row">
    <div class="form-group col-md-2 offset-md-2">
        <button type="button" class="btn btn-lg btn-block" [disabled]="!checkIfAnySelected()" (click)="onBlock()">Block</button>
    </div>
</div>

 <table class="table table-striped">
    <thead>
        <tr>
            <td><input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" ></td>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Registration Date</td>
            <td>Last Login Date</td>
            <td>Blocked</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userArray">
            <td><input type="checkbox" [(ngModel)]="user.selected" ></td>
            <ng-template [ngTemplateOutlet]="loadTemplate(user)" 
                        [ngTemplateOutletContext]="{ $implicit: user}">
            </ng-template>
        </tr>
    </tbody>
    <ng-template #readOnlyTemplate let-user>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.regdate}}</td>
        <td>{{user.logdate}}</td>
        <td>{{user.status}}</td>
    </ng-template>
    </table>
    
